@model eLearning.ViewModels.AdminViewModel

@{
    ViewBag.Title = "E-learning";
}
@section skripte{
    <link rel="stylesheet" href="~/css/admin-panel.css">
}

<!-- EDIT FORM COURSES -->
<div class="edit-form course">
    <i class="fas fa-times-circle closeBtn"></i>
    <form asp-controller="Admin" asp-action="setEditCourse" method="post">
        @Html.HiddenFor(m => m.kursZaEdit.kursID)

        @Html.LabelFor(m => m.kursZaEdit.imekursa)
        @Html.TextAreaFor(m => m.kursZaEdit.imekursa)

        @Html.LabelFor(m => m.kursZaEdit.detaljikursa)
        @Html.TextAreaFor(m => m.kursZaEdit.detaljikursa)

        @Html.LabelFor(m => m.kursZaEdit.link)
        @Html.TextBoxFor(m => m.kursZaEdit.link)

        @Html.LabelFor(m => m.kursZaEdit.slika)
        @Html.TextBoxFor(m => m.kursZaEdit.slika)

        @Html.LabelFor(m => m.kursZaEdit.nivoKursa)
        @Html.TextBoxFor(m => m.kursZaEdit.nivoKursa)

        <select>
            @foreach (var kategorija in Model.kategorije)
            {
            <option> @kategorija.imekategorije</option>    
            }
        </select>
                <button type="submit">Submit</button>
</form>
</div>