@model eLearning.ViewModels.AdminViewModel

@{
    ViewBag.Title = "E-learning";
}
@section skripte{
    <link rel="stylesheet" href="~/css/admin-panel.css">
}


<!-- EDIT FORM COURSES -->
<div class="edit-form course">
    <i class="fas fa-times-circle closeBtn"></i>
    <form asp-controller="Admin" asp-action="setEditCourse" method="post">
        <input type="text" placeholder="Course name" value="@Model.kursZaEdit.imekursa">
        <textarea rows="4" cols="50" placeholder="Description...">
            @Model.kursZaEdit.detaljikursa
        </textarea>
        </textarea>
        @*<input type="text" placeholder="Category" value="@Model.kursZaEdit.ka">*@
        <input type="text" placeholder="Link" value="@Model.kursZaEdit.link">
        <input type="text" placeholder="Image URL" value="@Model.kursZaEdit.slika">
        <input type="text" placeholder="Level" value="@Model.kursZaEdit.nivoKursa">
        <button>Submit</button>
    </form>
</div>