@model KursKategorijaViewModel

@*@model List<Kursevi>*@

@{
    ViewBag.Title = "E-learning";
    int maxPages = ViewBag.maxPages;
    int page = ViewBag.page;
    string schoolID = null;
    if (ViewBag.school != null)
        schoolID = ViewBag.school.skolaID;
}

@section skripte{
    <link rel="stylesheet" href="~/css/courses.css">
}

<div class="courses-wrap">
    <div class="courses-nav-wrap">
        <div class="courses-filter crs">
            <h2>Search</h2>
            <form method="get" asp-controller="Kursevi" asp-action="Courses" class="search-form">
                <input name="schoolID" type="hidden" value="@schoolID"/>
                <input class="search" name="search" type="text" placeholder="Name..." value="@ViewBag.search">
                <select name="level" id="levelList">
                    <option value="">All levels</option>
                    <option value="1">Begginer</option>
                    <option value="2">Intermediate</option>
                    <option value="3">Expert</option>
                </select>
                <button>Search</button>
            </form>
        </div>
        <div class="courses-categories crs">
            <h2>Categories</h2>
            <a asp-controller="Kursevi" asp-action="Courses" asp-route-naziv="">All courses</a>
            @foreach (var item in Model.kategorijes)
            {
                <a asp-controller="Kursevi" asp-action="Courses" 
                   asp-route-naziv="@item.imekategorije"
                   asp-route-schoolID="@schoolID">@item.imekategorije</a>
            }
        </div>
    </div>
    <div class="courses-list-wrap">
        <div class="courses-list crs">
            <h2><span class="schoolName">@(ViewBag.school != null ? ViewBag.school.naziv + " " : "")</span>Courses <span class="totalCourses">(@ViewBag.total)</span></h2>
            <div class="courses-grid">
                @foreach (var item in Model.kursevis)
                {
                    <div class="course">
                        <div class="course-thumb">
                         
                            <img src="~/images/Kursevi/@item.kurs.slika">

                        </div>
                        <div class="course-desc">
                            <h3 class="course-title">@item.kurs.imekursa <span class="course-lvl">@item.nivo</span></h3>
                            <p>@item.kurs.detaljikursa</p>
                        </div>
                        <a asp-controller="Kursevi" asp-action="CourseDetails" asp-route-id="@item.kurs.kursID" target="_blank"></a>
                    </div>
                }
            </div>
            <div class="pages">
                @for (int i = 1; i <= maxPages; i++)
                {
                    <a class="num @(i == page ? "active" : "")" 
                       asp-action="Courses" 
                       asp-route-search="@ViewBag.search" 
                       asp-route-level="@ViewBag.level" 
                       asp-route-schoolID="@schoolID" 
                       asp-route-page="@i">@i</a>
                }
            </div>
        </div>
    </div>
</div>

<script>
    $("#levelList").val(@ViewBag.level);
</script>