@model KursKategorijaViewModel

@*@model List<Kursevi>*@

@{
    ViewBag.Title = "E-learning";
    int maxPages = 2; // zameniti
    int page = 1;
}

@section skripte{
    <link rel="stylesheet" href="~/css/courses.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
}



<div class="courses-wrap">
    <div class="courses-nav-wrap">
        <div class="courses-filter crs">
            <h2>Search</h2>
            <form action="" class="search-form">
                <input class="search" type="text" placeholder="Name...">
                <select>
                    <option value="">All levels</option>
                    <option value="">Begginer</option>
                    <option value="">Intermediate</option>
                    <option value="">Expert</option>
                </select>
                <button>Search</button>
            </form>
        </div>
        <div class="courses-categories crs">
            <h2>Categories</h2>
            <a asp-controller="Kursevi" asp-action="Courses" asp-route-naziv="">All courses</a>
            @foreach (var item in Model.kategorijes)
            {
                <a asp-controller="Kursevi" asp-action="Courses" asp-route-naziv="@item.imekategorije">@item.imekategorije</a>
            }
        </div>
    </div>
    <div class="courses-list-wrap">
        <div class="courses-list crs">
            <h2>Courses</h2>
            <div class="courses-grid">
                @foreach (var item in Model.kursevis)
                {
                    <div class="course">
                        <div class="course-thumb">
                            <img src="@item.slika" />
                        </div>
                        <div class="course-desc">
                            <h3 class="course-title">@item.imekursa <span class="course-lvl">Advanced</span></h3>
                            <p>@item.detaljikursa</p>
                        </div>
                        <a asp-controller="Kursevi" asp-action="CourseDetails" asp-route-id="@item.kursID"></a>
                    </div>
                }
            </div>
            <div class="pages">
                @for (int i = 1; i <= maxPages; i++)
                {
                    <a class="num @(i == page ? "active" : "")" asp-action="Index" asp-route-page="@i">@i</a>
                }
            </div>
        </div>
    </div>
</div>
