
@model List<Kursevi>

@{
    string name = ViewBag.Name;
    int page = ViewBag.page;
    int maxPages = (int)ViewBag.maxPages;
}

@section skripte{
    <link rel="stylesheet" href="~/css/courses.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
}

<form class="search-form" method="get" asp-controller="Kursevi" asp-action="Courses">
    <input class="search" name="name" type="text" placeholder="Search..." value="@name" />
    <button>Search</button>
</form>

<div class="main-container">
    <div class="courses-category">
        <h2>Kategorije</h2>
        <a asp-controller="Kursevi" asp-action="Courses">Svi kursevi</a>
        @*@foreach (var item in Model.kategorijes)
            {
                <a asp-controller="Kursevi" asp-action="CategoryDetails" asp-route-id="@item.kategorijaID">@item.imekategorije</a>
            }*@

    </div>

    <div class="course-container">
        @if (Model.Count != 0)
        {
            @foreach (var item in Model)
            {
                <div class="course-card">
                    <img class="course-img" src="@item.slika" alt="">
                    <div class="course-content">
                        <a class="course-title"> @item.imekursa</a>
                        <p class="course-about">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, ut?
                        </p>
                        <a class="course-enrol" asp-controller="Kursevi" asp-action="CourseDetails" asp-route-id="@item.kursID">Details</a>
                    </div>
                </div>
            }
            <nav class="paginacija">
                <ul class="pagination pagination-sm">
                    @for (int i = 1; i <= maxPages; i++)
                    {
                        <li class="page-item">
                            <a class="page-link num @(i == page ? "active" : "")" asp-action="Courses" asp-route-page="@i" asp-route-name="@name">@i</a>
                        </li>
                    }
                </ul>
            </nav>
        }
        else
        {
            <p>Course not found.</p>
        }

    </div>
</div>