@model Kursevi

@{ViewBag.Title = "E-learning";}

@section skripte{
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/course.css">
}

<h1 class="text-center pt-2">ABOUT COURSE</h1>
<div class="container mt-3 mb-7">
    <div class="row col-xl-12 col-md-12 col-sm-12">
        <div class="about p-3 col-xl-6 col-md-6 col-sm-12">
            <h1>Machine Learning A-Z™: <br> @Model.imekursa</h1>
            <p>@Model.detaljikursa</p>
            <p>Original Coruse:</p>
          <a href="@Model.link"> @Model.link</a>
        </div>
        <div class="course-img p-3 col-xl-6 col-md-6 col-sm-12">
            <img src="@Model.slika" alt="">
        </div>
    </div>
</div>